* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(207, 255, 247);
  background: linear-gradient(148deg, rgba(207, 255, 247, 1) 0%, rgba(204, 204, 255, 1) 100%);
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.charts {
  width: 100vw;
  position: absolute;
  min-height: 100vh;
  transform: translateX(-100vw);
  z-index: 9999;
  transition: 0.3s;
  transition-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  width: 900px;
  height: 400px;
}

.xd {
  transform: translateX(0);
}

.xdPins {
  transform: translateX(100vw);
}

.pins {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

.chartToPin {
  width: 70px;
  height: 100vh;
  position: absolute;
  transition: 0.3s;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.05);
}

.chartToPin:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  color: black;
}

.chartToPinActive {
  right: 0px;
  transform: rotate(-180deg);
  z-index: 9999;
}

#searchCity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  box-shadow: 0px 0px 8px black;
  border-radius: 5px;
}
#cityName {
  border-radius: 5px 0px 0px 5px;
  outline: none;
  border: none;
  width: 50px;
  height: 30px;
  font-size: 20px;
  transition: 0.2s;
}

#cityName:focus {
  width: 180px;
}

#citySubmit {
  width: 50px;
  height: 30px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s;
  cursor: pointer;
}

#citySubmit:hover {
  background-color: rgb(204, 204, 255, 1);
}

.allPins {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  justify-content: center;
}

.weatherPin {
  width: 300px;
  height: 300px;
  background-color: rgb(247, 254, 255);
  border-radius: 40px;
  position: relative;
  margin: 10px 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px black;
  transition: 0.2s;
}

.weatherPin:hover {
  transform: scale(1.2);
  z-index: 9999;
}

.upperBar {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 10px;
}

.middleBar {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middleBar > .cityTemp {
  font-size: 30px;
}

.bottomBar {
  height: 100px;
  width: 300px;
  display: flex;
  position: relative;
}

.bottomBar > .cityWeatherImg {
  width: 150px;
}

.bottomBar > .cityDetales > ul {
  list-style-type: none;
}
.upperBar > .cityName > img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.bottomBar > .cityDetales > ul > li > img {
  width: 15px;
  height: 15px;
  margin: 0 10px;
}
.bottomBar > .cityWeatherImg {
  position: absolute;
  right: -50px;
  bottom: -90px;
  width: 250px;
  height: 250px;
}
.bottomBar > .cityWeatherImg > img {
  width: 250px;
  height: 250px;
}

.closeBtn {
  height: 20px;
  width: 100%;
  background-color: rgb(189, 204, 255);
  position: absolute;
  top: -20px;
  transition: 0.2s;
  transition-delay: 0.1s;
  text-align: center;
  cursor: pointer;
}
.weatherPin:hover > .closeBtn {
  transform: translatey(20px);
}

.cityName {
  font-size: 20px;
}
